.box-wrapper {
  position: relative;
}
.error-box {
  border: 1px solid #ef3f3e;
  padding: calc(5px + 15 * (100vw - 320px) / 1600);
  background-color: #fff;
  border-radius: calc(8px + 4 * (100vw - 320px) / 1600);
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 0 20px rgb(8 21 66 / 5%);
  position: absolute;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  top: -20px;
  svg {
    width: 40px;
    height: 40px;
    fill: $primary-color;
  }
  h4 {
    font-size: 18px;
    color: $primary-color;
  }
  p {
    font-size: 14px;
    margin-bottom: 0;
    color: $theme-body-font-color;
    line-height: 1;
    margin-top: 5px;
  }
}

.error-box.active {
  transform: translateY(-100%);
  opacity: 1;
  visibility: visible;
}

// Loader in Buttons

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 3px solid #ccc;
  border-right-color: #888;
  border-radius: 21px;
  -webkit-animation: rotate 1s infinite linear;
  position: absolute;
  left: 65%;
  top: 50%;
}

@-webkit-keyframes rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}
